{{! SP CUSTOMIZATION - ENTIRE FILE }}
<div class='container'>
  <div class='contents clearfix'>

    {{!-- {{home-logo minimized=showExtraInfo}} --}}
    <a class="logomark" href="/community" tabindex="1">
      <!--<img src="http://www.sitepoint.com/wp-content/themes/sitepoint/assets/svg/sitepoint-forums.svg" alt="SitePoint Forums">-->
      <svg width="152" height="27" viewBox="0 0 152 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="152" height="27" fill="white" />
        <path d="M0 6.39C0 7.218 0.144 8.01 0.45 8.802C0.738 9.594 1.17 10.296 1.71 10.908C2.25 11.52 2.88 12.024 3.636 12.402C4.374 12.798 5.202 12.978 6.102 12.978C6.606 12.978 7.11 12.924 7.632 12.78C8.154 12.654 8.658 12.456 9.126 12.204C9.594 11.952 10.008 11.646 10.386 11.286C10.746 10.926 11.034 10.494 11.25 10.008L9.576 9.054C9.396 9.432 9.18 9.756 8.928 10.008C8.676 10.278 8.388 10.494 8.082 10.674C7.776 10.854 7.452 10.98 7.128 11.052C6.804 11.124 6.48 11.16 6.174 11.16C5.562 11.16 5.022 11.034 4.518 10.782C4.014 10.53 3.564 10.17 3.204 9.738C2.844 9.306 2.556 8.82 2.358 8.244C2.142 7.686 2.052 7.092 2.052 6.462C2.052 5.922 2.124 5.364 2.304 4.806C2.484 4.266 2.736 3.762 3.078 3.312C3.42 2.88 3.852 2.52 4.356 2.25C4.86 1.98 5.436 1.836 6.12 1.836C6.408 1.836 6.732 1.872 7.056 1.944C7.38 2.016 7.686 2.124 7.992 2.268C8.28 2.43 8.568 2.646 8.82 2.898C9.072 3.168 9.288 3.492 9.468 3.87L11.052 2.808C10.62 1.98 10.008 1.314 9.18 0.791999C8.352 0.287999 7.344 0.0179996 6.192 0.0179996C5.22 0.0179996 4.338 0.215999 3.582 0.575999C2.808 0.953999 2.16 1.44 1.62 2.052C1.08 2.664 0.684 3.348 0.414 4.104C0.126 4.86 0 5.634 0 6.39Z"
          transform="translate(12.6299 7.12988)" fill="#3A3A3A" />
        <path d="M19.5616 12.96C20.4256 12.96 21.2356 12.798 21.9916 12.438C22.7476 12.078 23.3956 11.61 23.9536 11.016C24.4936 10.422 24.9256 9.738 25.2316 8.946C25.5376 8.172 25.6996 7.362 25.6996 6.498C25.6996 5.706 25.5376 4.914 25.2496 4.14C24.9616 3.366 24.5476 2.664 24.0076 2.052C23.4676 1.44 22.8376 0.953999 22.0816 0.575999C21.3256 0.197999 20.4976 0 19.5976 0C18.6976 0 17.8876 0.18 17.1316 0.539999C16.3756 0.899999 15.7276 1.368 15.1876 1.962C14.6476 2.574 14.2156 3.258 13.9096 4.032C13.5856 4.824 13.4416 5.634 13.4416 6.48C13.4416 7.308 13.5856 8.1 13.8736 8.874C14.1616 9.666 14.5936 10.35 15.1336 10.962C15.6736 11.574 16.3036 12.06 17.0596 12.42C17.8156 12.78 18.6436 12.96 19.5616 12.96ZM15.4936 6.48C15.4936 5.904 15.5836 5.346 15.7636 4.788C15.9436 4.23 16.2136 3.726 16.5736 3.294C16.9156 2.862 17.3476 2.52 17.8516 2.25C18.3556 1.98 18.9316 1.836 19.5796 1.836C20.1916 1.836 20.7316 1.98 21.2356 2.232C21.7396 2.484 22.1536 2.826 22.5136 3.258C22.8736 3.69 23.1436 4.176 23.3416 4.734C23.5216 5.292 23.6296 5.868 23.6296 6.48C23.6296 7.056 23.5396 7.632 23.3596 8.172C23.1796 8.73 22.9096 9.234 22.5676 9.666C22.2076 10.116 21.7936 10.476 21.2896 10.746C20.7856 11.016 20.2276 11.142 19.5796 11.142C18.9496 11.142 18.3916 11.016 17.8876 10.764C17.3836 10.512 16.9516 10.152 16.5916 9.72C16.2316 9.288 15.9616 8.802 15.7816 8.226C15.5836 7.668 15.4936 7.092 15.4936 6.48Z"
          transform="translate(12.6299 7.12988)" fill="#3A3A3A" />
        <path d="M39.7928 12.87H41.8268V0.0899997H39.6668L35.4368 7.902L31.2068 0.0899997H29.0468V12.87H31.0628V3.672L34.8788 10.638H35.9948L39.7928 3.672V12.87Z"
          transform="translate(12.6299 7.12988)" fill="#3A3A3A" />
        <path d="M56.7149 12.87H58.7489V0.0899997H56.5889L52.3589 7.902L48.1289 0.0899997H45.9689V12.87H47.9849V3.672L51.8009 10.638H52.9169L56.7149 3.672V12.87Z"
          transform="translate(12.6299 7.12988)" fill="#3A3A3A" />
        <path d="M68.219 11.142C67.553 11.142 66.995 11.016 66.545 10.764C66.095 10.512 65.735 10.17 65.465 9.738C65.195 9.306 64.997 8.82 64.889 8.28C64.781 7.74 64.727 7.164 64.727 6.57V0.0899997H62.711V6.57C62.711 7.398 62.801 8.208 62.999 8.964C63.179 9.738 63.503 10.422 63.935 11.016C64.367 11.61 64.925 12.078 65.627 12.438C66.329 12.798 67.193 12.96 68.219 12.96C69.191 12.96 70.037 12.798 70.739 12.456C71.441 12.132 72.017 11.664 72.467 11.088C72.899 10.512 73.223 9.828 73.439 9.054C73.637 8.28 73.745 7.452 73.745 6.57V0.0899997H71.711V6.57C71.711 7.146 71.639 7.722 71.531 8.262C71.423 8.802 71.225 9.288 70.955 9.72C70.685 10.152 70.325 10.494 69.893 10.746C69.443 11.016 68.885 11.142 68.219 11.142Z"
          transform="translate(12.6299 7.12988)" fill="#3A3A3A" />
        <path d="M79.7022 3.87L86.9382 12.87H88.6122V0.107999H86.5782V9.306L79.2702 0.0899997H77.6862V12.87H79.7022V3.87Z" transform="translate(12.6299 7.12988)"
          fill="#3A3A3A" />
        <path d="M92.745 12.87H94.761V0.0899997H92.745V12.87Z" transform="translate(12.6299 7.12988)" fill="#3A3A3A" />
        <path d="M108.287 1.872V0.0899997H97.7393V1.872H102.005V12.87H104.039V1.872H108.287Z" transform="translate(12.6299 7.12988)"
          fill="#3A3A3A" />
        <path d="M112.197 0.0899997H109.983L114.717 8.262V12.87H116.733V8.298L121.503 0.0899997H119.289L115.725 6.498L112.197 0.0899997Z"
          transform="translate(12.6299 7.12988)" fill="#3A3A3A" />
      </svg>

    </a>
    {{plugin-outlet "header-after-home-logo"}}

    <div class='panel clearfix'>
      <div class='header-buttons'>
        {{#unless currentUser}} {{#if showSignUpButton}} {{d-button action="showCreateAccount" class="btn-primary btn-small sign-up-button"
        label="sign_up"}} {{/if}} {{d-button action="showLogin" class="btn-primary btn-small login-button" icon="user" label="log_in"}}
        {{/unless}}
      </div>
      <ul class='icons clearfix' role='navigation'>
        {{#if currentUser}} {{plugin-outlet "header-before-notifications"}} {{/if}} {{#header-dropdown iconId="search-button" icon="search"
        action="toggleSearch" toggleVisible=searchVisible mobileAction="fullPageSearch" loginAction="showLogin" title="search.title"
        href="search"}} {{/header-dropdown}} {{#header-dropdown iconId="toggle-hamburger-menu" icon="bars" toggleVisible=hamburgerVisible
        loginAction="showLogin" title="hamburger_menu"}} {{#if flaggedPostsCount}}
        <a href='/admin/flags/active' title='{{i18n ' notifications.total_flagged '}}' class='badge-notification flagged-posts'>{{flaggedPostsCount}}</a>
        {{/if}} {{/header-dropdown}} {{#if currentUser}} {{#header-dropdown iconId="current-user" class="current-user" showUser="true"
        toggleVisible=userMenuVisible loginAction="showLogin" title="user.avatar.header_title"}} {{#if currentUser.unread_notifications}}
        <a href {{action "showUserMenu"}} class='badge-notification unread-notifications'>{{currentUser.unread_notifications}}</a>
        {{/if}} {{#if currentUser.unread_private_messages}}
        <a href {{action "showUserMenu"}} class='badge-notification unread-private-messages'>{{currentUser.unread_private_messages}}</a>
        {{/if}} {{plugin-outlet "header-notifications"}} {{/header-dropdown}} {{/if}}
      </ul>
      {{plugin-outlet "header-before-dropdowns"}} {{user-menu visible=userMenuVisible logoutAction="logout"}} {{hamburger-menu
      visible=hamburgerVisible showKeyboardAction="showKeyboardShortcutsHelp"}} {{search-menu visible=searchVisible}}
    </div>

    {{#if showExtraInfo}} {{header-extra-info topic=topic}} {{else}}
    <div class="header-links-wrapper clearfix">
      <a class="header-link" target="_blank" href="/?utm_source=community&utm_medium=top-nav" tabindex="5">Articles</a>
      <a class="header-link u-button" target="_blank" href="/premium/topics/all?utm_source=community&utm_medium=top-nav" tabindex="6">Premium</a>
    </div>
    {{/if}}

  </div>
</div>
{{plugin-outlet "header-under-content"}}