{{! SP CUSTOMIZATION - ENTIRE FILE }}
<div class='container'>
  <div class='contents clearfix'>

    {{!-- {{home-logo minimized=showExtraInfo}} --}}
    <a class="logomark" href="/community" tabindex="1">
      <!--<img src="http://www.sitepoint.com/wp-content/themes/sitepoint/assets/svg/sitepoint-forums.svg" alt="SitePoint Forums">-->
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="202px" height="24px" viewBox="0 0 202 27" enable-background="new 0 0 202 27" xml:space="preserve">
        <g id="logo">
            <path d="M31.36,16.75 C31.56,17.07 31.82,17.31 32.14,17.50 C32.46,17.68 32.82,17.82 33.23,17.89 C33.63,17.97 34.05,18.01 34.48,18.01 C34.81,18.01 35.16,17.99 35.52,17.94 C35.89,17.89 36.22,17.81 36.53,17.68 C36.83,17.55 37.08,17.36 37.28,17.11 C37.48,16.87 37.58,16.55 37.58,16.17 C37.58,15.64 37.37,15.24 36.96,14.97 C36.55,14.69 36.03,14.47 35.41,14.31 C34.79,14.14 34.12,13.99 33.39,13.85 C32.66,13.71 31.99,13.52 31.37,13.27 C30.75,13.03 30.23,12.68 29.82,12.23 C29.41,11.78 29.20,11.16 29.20,10.36 C29.20,9.73 29.34,9.20 29.63,8.75 C29.92,8.30 30.30,7.94 30.75,7.66 C31.20,7.38 31.72,7.17 32.29,7.03 C32.86,6.90 33.42,6.83 33.99,6.83 C34.71,6.83 35.38,6.89 35.99,7.01 C36.61,7.13 37.15,7.34 37.62,7.63 C38.09,7.93 38.46,8.33 38.75,8.83 C39.03,9.34 39.19,9.96 39.24,10.72 L37.13,10.72 C37.10,10.32 36.99,9.98 36.81,9.72 C36.63,9.46 36.40,9.25 36.12,9.08 C35.84,8.92 35.53,8.81 35.19,8.74 C34.85,8.66 34.51,8.63 34.16,8.63 C33.84,8.63 33.53,8.65 33.20,8.70 C32.88,8.75 32.59,8.83 32.32,8.95 C32.06,9.07 31.84,9.23 31.68,9.43 C31.51,9.63 31.43,9.89 31.43,10.21 C31.43,10.56 31.56,10.86 31.82,11.09 C32.07,11.32 32.40,11.51 32.80,11.66 C33.19,11.82 33.64,11.95 34.13,12.05 C34.63,12.15 35.13,12.26 35.62,12.37 C36.15,12.49 36.67,12.62 37.17,12.78 C37.67,12.94 38.12,13.15 38.51,13.42 C38.90,13.68 39.21,14.01 39.45,14.41 C39.69,14.81 39.81,15.31 39.81,15.90 C39.81,16.66 39.65,17.28 39.33,17.77 C39.01,18.27 38.58,18.67 38.06,18.98 C37.54,19.28 36.96,19.49 36.30,19.61 C35.65,19.73 35.00,19.79 34.36,19.79 C33.65,19.79 32.97,19.72 32.32,19.58 C31.68,19.43 31.11,19.20 30.61,18.87 C30.12,18.54 29.72,18.11 29.42,17.57 C29.13,17.03 28.96,16.38 28.93,15.61 L31.03,15.61 C31.05,16.06 31.16,16.44 31.36,16.75" id="Fill-1"></path>
            <path d="M42.27,7.12 L44.37,7.12 L44.37,19.53 L42.27,19.53 L42.27,7.12 Z" id="Fill-2"></path>
            <path d="M53.13,7.12 L53.13,8.92 L50.57,8.92 L50.57,16.62 C50.57,16.86 50.59,17.05 50.63,17.20 C50.67,17.34 50.75,17.46 50.87,17.54 C50.99,17.62 51.15,17.67 51.35,17.69 C51.56,17.71 51.83,17.73 52.16,17.73 L53.13,17.73 L53.13,19.53 L51.51,19.53 C50.97,19.53 50.50,19.49 50.11,19.42 C49.72,19.35 49.41,19.22 49.17,19.02 C48.93,18.83 48.75,18.56 48.64,18.21 C48.52,17.86 48.46,17.39 48.46,16.81 L48.46,8.92 L46.28,8.92 L46.28,7.12 L48.46,7.12 L48.46,3.39 L50.57,3.39 L50.57,7.12 L53.13,7.12" id="Fill-3"></path>
            <path d="M64.53,18.73 C63.57,19.44 62.36,19.79 60.91,19.79 C59.89,19.79 59.00,19.63 58.25,19.31 C57.49,18.99 56.86,18.54 56.35,17.97 C55.84,17.39 55.45,16.70 55.20,15.90 C54.94,15.10 54.80,14.23 54.76,13.29 C54.76,12.34 54.91,11.48 55.21,10.69 C55.51,9.91 55.92,9.23 56.46,8.65 C57.00,8.08 57.63,7.63 58.37,7.31 C59.11,6.99 59.91,6.83 60.79,6.83 C61.93,6.83 62.87,7.05 63.63,7.51 C64.38,7.97 64.98,8.55 65.44,9.25 C65.89,9.96 66.20,10.73 66.38,11.56 C66.55,12.39 66.62,13.18 66.59,13.93 L56.99,13.93 C56.98,14.48 57.04,14.99 57.19,15.48 C57.34,15.97 57.58,16.40 57.91,16.78 C58.24,17.16 58.66,17.46 59.18,17.68 C59.69,17.90 60.29,18.01 60.98,18.01 C61.88,18.01 62.61,17.82 63.18,17.41 C63.75,17.02 64.13,16.41 64.31,15.59 L66.39,15.59 C66.11,16.98 65.49,18.03 64.53,18.73 L64.53,18.73 Z M64.02,10.76 C63.83,10.33 63.58,9.96 63.25,9.65 C62.93,9.34 62.55,9.09 62.11,8.90 C61.68,8.72 61.19,8.63 60.66,8.63 C60.12,8.63 59.62,8.72 59.19,8.90 C58.75,9.09 58.37,9.34 58.06,9.66 C57.75,9.98 57.50,10.35 57.32,10.78 C57.13,11.20 57.03,11.65 56.99,12.13 L64.36,12.13 C64.32,11.65 64.21,11.20 64.02,10.76 L64.02,10.76 Z" id="Fill-4"></path>
            <path d="M70.95,7.12 L70.95,8.80 L71.00,8.80 C71.35,8.11 71.89,7.61 72.64,7.30 C73.38,6.98 74.20,6.83 75.09,6.83 C76.09,6.83 76.95,7.00 77.68,7.36 C78.42,7.71 79.03,8.18 79.52,8.78 C80.01,9.38 80.37,10.08 80.62,10.86 C80.87,11.65 80.99,12.48 80.99,13.36 C80.99,14.24 80.87,15.07 80.63,15.85 C80.39,16.64 80.03,17.32 79.54,17.91 C79.06,18.49 78.44,18.95 77.71,19.29 C76.97,19.62 76.12,19.79 75.14,19.79 C74.83,19.79 74.48,19.76 74.09,19.70 C73.70,19.63 73.32,19.53 72.94,19.38 C72.56,19.24 72.20,19.04 71.86,18.79 C71.52,18.55 71.23,18.24 71.00,17.87 L70.95,17.87 L70.95,24.26 L68.84,24.26 L68.84,7.12 L70.95,7.12 L70.95,7.12 Z M78.53,11.52 C78.37,10.97 78.13,10.48 77.81,10.04 C77.49,9.61 77.07,9.27 76.57,9.01 C76.06,8.76 75.47,8.63 74.79,8.63 C74.08,8.63 73.48,8.76 72.98,9.04 C72.49,9.31 72.08,9.67 71.77,10.10 C71.46,10.55 71.23,11.05 71.09,11.60 C70.95,12.17 70.88,12.73 70.88,13.31 C70.88,13.92 70.95,14.51 71.10,15.07 C71.25,15.64 71.48,16.14 71.81,16.57 C72.13,17.01 72.55,17.35 73.06,17.62 C73.57,17.88 74.19,18.01 74.92,18.01 C75.65,18.01 76.25,17.88 76.74,17.61 C77.23,17.34 77.62,16.98 77.92,16.53 C78.22,16.08 78.43,15.57 78.56,14.99 C78.70,14.41 78.76,13.82 78.76,13.21 C78.76,12.64 78.68,12.07 78.53,11.52 L78.53,11.52 Z" id="Fill-5"></path>
            <path d="M83.17,10.78 C83.44,9.98 83.84,9.30 84.36,8.71 C84.89,8.13 85.55,7.67 86.33,7.33 C87.10,7.00 87.99,6.83 89.00,6.83 C90.03,6.83 90.92,7.00 91.69,7.33 C92.46,7.67 93.11,8.13 93.64,8.71 C94.17,9.30 94.56,9.98 94.83,10.78 C95.09,11.57 95.23,12.42 95.23,13.33 C95.23,14.25 95.09,15.09 94.83,15.88 C94.56,16.66 94.17,17.35 93.64,17.93 C93.11,18.52 92.46,18.97 91.69,19.30 C90.92,19.63 90.03,19.79 89.00,19.79 C87.99,19.79 87.10,19.63 86.33,19.30 C85.55,18.97 84.89,18.52 84.36,17.93 C83.84,17.35 83.44,16.66 83.17,15.88 C82.91,15.09 82.78,14.25 82.78,13.33 C82.78,12.42 82.91,11.57 83.17,10.78 L83.17,10.78 Z M85.32,15.34 C85.53,15.92 85.81,16.41 86.18,16.80 C86.54,17.19 86.96,17.49 87.45,17.70 C87.94,17.91 88.46,18.01 89.00,18.01 C89.55,18.01 90.06,17.91 90.55,17.70 C91.04,17.49 91.46,17.19 91.83,16.80 C92.19,16.41 92.48,15.92 92.68,15.34 C92.89,14.75 92.99,14.09 92.99,13.33 C92.99,12.58 92.89,11.91 92.68,11.33 C92.48,10.75 92.19,10.25 91.83,9.85 C91.46,9.45 91.04,9.15 90.55,8.94 C90.06,8.73 89.55,8.63 89.00,8.63 C88.46,8.63 87.94,8.73 87.45,8.94 C86.96,9.15 86.54,9.45 86.18,9.85 C85.81,10.25 85.53,10.75 85.32,11.33 C85.11,11.91 85.01,12.58 85.01,13.33 C85.01,14.09 85.11,14.75 85.32,15.34 L85.32,15.34 Z" id="Fill-6"></path>
            <path d="M97.83,7.12 L99.94,7.12 L99.94,19.53 L97.83,19.53 L97.83,7.12 Z" id="Fill-7"></path>
            <path d="M105.19,7.12 L105.19,9.08 L105.24,9.08 C106.12,7.58 107.51,6.83 109.41,6.83 C110.25,6.83 110.95,6.94 111.51,7.16 C112.08,7.39 112.53,7.70 112.88,8.10 C113.23,8.50 113.47,8.98 113.61,9.53 C113.75,10.08 113.82,10.69 113.82,11.36 L113.82,19.53 L111.71,19.53 L111.71,11.12 C111.71,10.36 111.48,9.75 111.02,9.30 C110.56,8.85 109.92,8.63 109.11,8.63 C108.46,8.63 107.91,8.72 107.43,8.92 C106.96,9.11 106.57,9.38 106.26,9.73 C105.94,10.08 105.71,10.50 105.55,10.97 C105.39,11.44 105.32,11.96 105.32,12.52 L105.32,19.53 L103.21,19.53 L103.21,7.12 L105.19,7.12" id="Fill-8"></path>
            <path d="M122.47,7.12 L122.47,8.92 L119.92,8.92 L119.92,16.62 C119.92,16.86 119.94,17.05 119.98,17.20 C120.02,17.34 120.10,17.46 120.22,17.54 C120.33,17.62 120.49,17.67 120.70,17.69 C120.91,17.71 121.18,17.73 121.50,17.73 L122.47,17.73 L122.47,19.53 L120.86,19.53 C120.32,19.53 119.85,19.49 119.46,19.42 C119.07,19.35 118.76,19.22 118.52,19.02 C118.28,18.83 118.10,18.56 117.99,18.21 C117.87,17.86 117.81,17.39 117.81,16.81 L117.81,8.92 L115.63,8.92 L115.63,7.12 L117.81,7.12 L117.81,3.39 L119.92,3.39 L119.92,7.12 L122.47,7.12" id="Fill-9"></path>
            <path d="M0.67,11.87 L2.62,13.76 L8.76,19.50 L11.41,16.94 C11.65,16.61 11.64,16.16 11.36,15.84 L8.94,13.72 L8.95,13.72 L6.34,11.19 C6.04,10.84 6.04,10.32 6.37,9.99 L13.38,3.21 L10.20,0.12 L0.68,9.31 C-0.05,10.02 -0.05,11.17 0.67,11.87" id="Fill-10"></path>
            <path d="M21.60,15.15 L19.66,13.27 L13.51,7.53 L10.86,10.08 C10.62,10.42 10.64,10.87 10.91,11.19 L13.33,13.31 L13.33,13.31 L15.93,15.84 C16.24,16.19 16.23,16.70 15.91,17.04 L8.89,23.82 L12.08,26.91 L19.65,19.60 L21.60,17.71 C22.33,17.01 22.33,15.86 21.60,15.15" id="Fill-11"></path>
            <path d="M44.55,4.58 C44.55,5.24 44.00,5.77 43.32,5.77 C42.64,5.77 42.09,5.24 42.09,4.58 C42.09,3.93 42.64,3.39 43.32,3.39 C44.00,3.39 44.55,3.93 44.55,4.58" id="Fill-12"></path>
            <path d="M100.11,4.58 C100.11,5.24 99.56,5.77 98.88,5.77 C98.20,5.77 97.65,5.24 97.65,4.58 C97.65,3.93 98.20,3.39 98.88,3.39 C99.56,3.39 100.11,3.93 100.11,4.58" id="Fill-13"></path>
        </g>
        <rect id="Rectangle-2" x="129" y="3" width="73" height="20" rx="1"></rect>
        <path id="logoText" fill="#3A3A3A" d="M139.62,9.14 L139.62,17 L140.67,17 L140.67,13.40 L144.28,13.40 L144.28,12.52 L140.67,12.52 L140.67,10.02 L144.78,10.02 L144.78,9.14 L139.62,9.14 Z M148.14,13.07 C148.14,12.67 148.19,12.28 148.30,11.90 C148.40,11.51 148.56,11.17 148.78,10.86 C149.00,10.55 149.28,10.30 149.63,10.11 C149.97,9.93 150.38,9.83 150.86,9.83 C151.34,9.83 151.75,9.93 152.09,10.11 C152.44,10.30 152.72,10.55 152.94,10.86 C153.16,11.17 153.32,11.51 153.42,11.90 C153.52,12.28 153.58,12.67 153.58,13.07 C153.58,13.46 153.52,13.85 153.42,14.24 C153.32,14.62 153.16,14.97 152.94,15.28 C152.72,15.59 152.44,15.83 152.09,16.02 C151.75,16.21 151.34,16.30 150.86,16.30 C150.38,16.30 149.97,16.21 149.63,16.02 C149.28,15.83 149.00,15.59 148.78,15.28 C148.56,14.97 148.40,14.62 148.30,14.24 C148.19,13.85 148.14,13.46 148.14,13.07 L148.14,13.07 Z M147.10,13.07 C147.10,13.60 147.18,14.12 147.33,14.61 C147.49,15.11 147.73,15.55 148.04,15.93 C148.36,16.31 148.75,16.61 149.22,16.84 C149.69,17.06 150.24,17.17 150.86,17.17 C151.48,17.17 152.03,17.06 152.50,16.84 C152.97,16.61 153.36,16.31 153.68,15.93 C153.99,15.55 154.23,15.11 154.38,14.61 C154.54,14.12 154.62,13.60 154.62,13.07 C154.62,12.53 154.54,12.02 154.38,11.52 C154.23,11.03 153.99,10.59 153.68,10.21 C153.36,9.83 152.97,9.52 152.50,9.3 C152.03,9.07 151.48,8.95 150.86,8.95 C150.24,8.95 149.69,9.07 149.22,9.3 C148.75,9.52 148.36,9.83 148.04,10.21 C147.73,10.59 147.49,11.03 147.33,11.52 C147.18,12.02 147.10,12.53 147.10,13.07 L147.10,13.07 Z M157.50,9.14 L157.50,17 L158.54,17 L158.54,13.64 L161.09,13.64 C161.35,13.64 161.56,13.68 161.71,13.76 C161.86,13.83 161.99,13.94 162.08,14.06 C162.18,14.19 162.25,14.34 162.29,14.51 C162.34,14.69 162.37,14.87 162.40,15.06 C162.44,15.25 162.46,15.44 162.47,15.64 C162.48,15.84 162.48,16.03 162.49,16.20 C162.50,16.37 162.51,16.53 162.54,16.67 C162.57,16.80 162.62,16.91 162.69,17 L163.86,17 C163.74,16.86 163.66,16.71 163.61,16.54 C163.55,16.37 163.51,16.18 163.48,15.99 C163.45,15.80 163.43,15.61 163.43,15.41 C163.42,15.21 163.41,15.02 163.39,14.83 C163.37,14.64 163.34,14.45 163.30,14.28 C163.26,14.10 163.20,13.94 163.11,13.80 C163.03,13.66 162.91,13.53 162.77,13.43 C162.63,13.33 162.44,13.26 162.22,13.21 L162.22,13.19 C162.69,13.06 163.04,12.81 163.26,12.45 C163.47,12.09 163.58,11.67 163.58,11.20 C163.58,10.56 163.37,10.06 162.95,9.69 C162.53,9.32 161.94,9.14 161.19,9.14 L157.50,9.14 Z M160.72,12.76 L158.54,12.76 L158.54,10.02 L161.14,10.02 C161.63,10.02 161.98,10.15 162.21,10.4 C162.43,10.64 162.54,10.97 162.54,11.36 C162.54,11.65 162.49,11.88 162.39,12.06 C162.29,12.24 162.16,12.38 161.99,12.49 C161.83,12.60 161.63,12.67 161.41,12.71 C161.19,12.74 160.96,12.76 160.72,12.76 L160.72,12.76 Z M172.90,14.16 L172.90,9.14 L171.86,9.14 L171.86,14.16 C171.86,14.86 171.68,15.39 171.33,15.76 C170.99,16.12 170.48,16.30 169.81,16.30 C169.11,16.30 168.57,16.12 168.19,15.76 C167.82,15.39 167.63,14.86 167.63,14.16 L167.63,9.14 L166.59,9.14 L166.59,14.16 C166.59,15.21 166.87,15.97 167.44,16.45 C168.01,16.93 168.80,17.17 169.81,17.17 C170.80,17.17 171.56,16.92 172.10,16.42 C172.63,15.92 172.90,15.16 172.90,14.16 L172.90,14.16 Z M176.20,9.14 L176.20,17 L177.19,17 L177.19,10.46 L177.21,10.46 L179.66,17 L180.55,17 L183.01,10.46 L183.03,10.46 L183.03,17 L184.02,17 L184.02,9.14 L182.59,9.14 L180.10,15.74 L177.63,9.14 L176.20,9.14 Z M191.90,11.44 L192.89,11.44 C192.87,11.01 192.79,10.64 192.64,10.32 C192.49,10.01 192.28,9.75 192.02,9.55 C191.76,9.34 191.46,9.19 191.12,9.10 C190.77,9.00 190.40,8.95 190,8.95 C189.64,8.95 189.29,9.00 188.94,9.09 C188.60,9.18 188.30,9.32 188.03,9.51 C187.76,9.70 187.55,9.93 187.39,10.22 C187.23,10.51 187.15,10.86 187.15,11.25 C187.15,11.61 187.22,11.91 187.36,12.15 C187.50,12.39 187.69,12.58 187.93,12.73 C188.17,12.88 188.44,13.00 188.74,13.10 C189.04,13.19 189.35,13.27 189.66,13.34 C189.97,13.41 190.28,13.47 190.58,13.54 C190.88,13.61 191.15,13.69 191.39,13.80 C191.62,13.91 191.82,14.04 191.96,14.21 C192.10,14.38 192.17,14.60 192.17,14.87 C192.17,15.16 192.11,15.39 192.00,15.58 C191.88,15.76 191.73,15.90 191.54,16.01 C191.34,16.12 191.13,16.19 190.89,16.24 C190.65,16.28 190.42,16.30 190.18,16.30 C189.89,16.30 189.60,16.27 189.32,16.19 C189.05,16.12 188.80,16.01 188.59,15.85 C188.38,15.70 188.21,15.50 188.09,15.26 C187.96,15.02 187.89,14.74 187.89,14.41 L186.90,14.41 C186.90,14.89 186.99,15.30 187.16,15.65 C187.33,16.00 187.57,16.28 187.87,16.51 C188.16,16.73 188.51,16.90 188.90,17.01 C189.29,17.12 189.71,17.17 190.15,17.17 C190.51,17.17 190.87,17.13 191.23,17.04 C191.60,16.96 191.92,16.82 192.22,16.64 C192.51,16.45 192.75,16.21 192.94,15.91 C193.12,15.61 193.22,15.26 193.22,14.84 C193.22,14.45 193.15,14.13 193.00,13.87 C192.86,13.61 192.67,13.40 192.43,13.23 C192.19,13.06 191.92,12.93 191.62,12.83 C191.32,12.73 191.02,12.65 190.70,12.57 C190.39,12.50 190.09,12.43 189.79,12.37 C189.49,12.31 189.22,12.23 188.98,12.13 C188.74,12.04 188.55,11.91 188.41,11.76 C188.26,11.61 188.19,11.42 188.19,11.18 C188.19,10.92 188.24,10.70 188.34,10.53 C188.44,10.36 188.57,10.22 188.74,10.12 C188.90,10.02 189.09,9.94 189.30,9.90 C189.51,9.86 189.73,9.83 189.95,9.83 C190.49,9.83 190.94,9.96 191.29,10.21 C191.64,10.47 191.84,10.88 191.90,11.44 L191.90,11.44 Z" id="FORUMS"></path>
      </svg>
    </a>
    {{plugin-outlet "header-after-home-logo"}}

    <div class='panel clearfix'>
      <div class='header-buttons'>
      {{#unless currentUser}}
        {{#if showSignUpButton}}
          {{d-button action="showCreateAccount" class="btn-primary btn-small sign-up-button" label="sign_up"}}
        {{/if}}
        {{d-button action="showLogin" class="btn-primary btn-small login-button" icon="user" label="log_in"}}
      {{/unless}}
      </div>
      <ul class='icons clearfix' role='navigation'>
        {{#if currentUser}}
          {{plugin-outlet "header-before-notifications"}}
        {{/if}}

        {{#header-dropdown iconId="search-button"
                           icon="search"
                           action="toggleSearch"
                           toggleVisible=searchVisible
                           mobileAction="fullPageSearch"
                           loginAction="showLogin"
                           title="search.title"
                           href="search"}}
        {{/header-dropdown}}

        {{#header-dropdown iconId="toggle-hamburger-menu"
                           icon="bars"
                           toggleVisible=hamburgerVisible
                           loginAction="showLogin"
                           title="hamburger_menu"}}
          {{#if flaggedPostsCount}}
            <a href='/admin/flags/active' title='{{i18n 'notifications.total_flagged'}}' class='badge-notification flagged-posts'>{{flaggedPostsCount}}</a>
          {{/if}}
        {{/header-dropdown}}

        {{#if currentUser}}
          {{#header-dropdown iconId="current-user"
                             class="current-user"
                             showUser="true"
                             toggleVisible=userMenuVisible
                             loginAction="showLogin"
                             title="user.avatar.header_title"}}
            {{#if currentUser.unread_notifications}}
              <a href {{action "showUserMenu"}} class='badge-notification unread-notifications'>{{currentUser.unread_notifications}}</a>
            {{/if}}
            {{#if currentUser.unread_private_messages}}
              <a href {{action "showUserMenu"}} class='badge-notification unread-private-messages'>{{currentUser.unread_private_messages}}</a>
            {{/if}}
          {{/header-dropdown}}
        {{/if}}
      </ul>
        {{plugin-outlet "header-before-dropdowns"}}
        {{user-menu visible=userMenuVisible logoutAction="logout"}}
        {{hamburger-menu visible=hamburgerVisible showKeyboardAction="showKeyboardShortcutsHelp"}}
        {{search-menu visible=searchVisible}}
    </div>

    {{#if showExtraInfo}}
      {{header-extra-info topic=topic}}
    {{else}}
      <div class="header-links-wrapper clearfix">
        <a class="header-link" target="_blank" href="http://store.sitepoint.com" tabindex="2">Store</a>
        <a class="header-link" target="_blank" href="http://www.sitepoint.com/deals" tabindex="3">Deals</a>
        <a class="header-link" target="_blank" href="http://www.sitepoint.com/versioning" tabindex="4">Versioning</a>
        <a class="header-link" target="_blank" href="http://www.sitepoint.com/reference" tabindex="5">Reference</a>
        <a class="header-link" target="_blank" href="http://www.sitepoint.com" tabindex="6">Articles</a>
        <a class="header-link u-button" target="_blank" href="https://www.sitepoint.com/premium/topics/all?utm_source=sitepoint&utm_medium=link&utm_content=top-nav" tabindex="7">Premium</a>
      </div>
    {{/if}}

  </div>
</div>
