<section class="details">
  <h1>Custom Fields</h1>
  <div class="display-row">
    <div class="field">{{i18n "admin.user.custom_fields.sp_created_at"}}</div>
    <div class='value'>
      {{#if model.custom_fields.sp_created_at }}
        {{format-date model.custom_fields.sp_created_at leaveAgo="true"}}
      {{else}}
        &mdash;
      {{/if}}
    </div>
  </div>
  <div class="display-row">
    <div class="field">{{i18n "admin.user.custom_fields.sp_registration_ip"}} </div>
    <div class="value">
      {{#if model.custom_fields.sp_registration_ip }}
        {{model.custom_fields.sp_registration_ip}}
      {{else}}
        &mdash;
      {{/if}}
    </div>
  </div>
  <div class="display-row">
    <div class="field">{{i18n "admin.user.custom_fields.sp_last_logout"}} </div>
    <div class="value">
      {{#if model.custom_fields.last_logged_out_at }}
        {{format-date model.custom_fields.last_logged_out_at leaveAgo="true"}}
      {{else}}
        &mdash;
      {{/if}}
    </div>
  </div>
</section>

