{{! CHANGE MANIFEST:
= Root: app/assets/javascripts/discourse/templates/navigation/category.js.handlebars
=
= (1) Added .btn-primary to create topic button
= (2) Private Message Customization
= (*) Other syntax changes to make it easier to read
=}}
{{bread-crumbs categories=categories
               category=category
               noSubcategories=noSubcategories
               hideSubcategories=showingSubcategoryList}}

<ul class="nav nav-pills" id='navigation-bar'>
  {{#each navItem in navItems}}
    {{navigation-item content=navItem filterMode=filterMode}}
  {{/each}}
  {{custom-html "extraNavItem"}}
</ul>

{{#if canChangeCategoryNotificationLevel}}
  {{view 'category-notifications-button' category=category}}
{{/if}}

{{#if canCreateTopic}}
  {{! SP (1) }}

    {{d-button id="create-topic" class="btn-default btn-primary" action="createTopic" icon="plus" label="topic.create"}}

  {{! /SP }}
{{/if}}

{{#if currentUser}}
  {{! SP (2) }}

  {{d-button id="create-private-message" class="btn-default" action="composerPrivateMessage" icon="envelope" label="user.private_message"}}

  {{! /SP }}
{{/if}}

{{#if canEditCategory}}
  {{d-button id="edit-category" class="btn-default" action="editCategory category" icon="wrench" label="category.edit_long"}}
{{/if}}

<section class='category-heading'>
  {{#if category.logo_url}}
    <img {{bind-attr src=category.logo_url}} class="category-logo">
    {{#if category.description}}
    <p>{{{category.description}}}</p>
    {{/if}}
  {{/if}}
</section>
