{{! CHANGE MANIFEST:
= Root: app/assets/javascripts/discourse/templates/navigation/categories.js.handlebars
=
= (1) Added .btn-primary to create category button
= (2) Added a private message button
= (*) Other syntax changes to make it easier to read
=}}

{{bread-crumbs categories=categories}}

<ul class="nav nav-pills" id='navigation-bar'>
  {{#each navItem in navItems}}
    {{navigation-item content=navItem filterMode=filterMode}}
  {{/each}}
  {{custom-html "extraNavItem"}}
</ul>

{{#if canCreateCategory}}
  {{! SP (1) }}

    <button class='btn btn-default btn-primary' {{action createCategory}}>
      <i class='fa fa-plus'></i> {{i18n category.create}}
    </button>

  {{! /SP }}
{{/if}}

{{! SP (2) }}

  {{#if currentUser}}
    <button class='btn btn-default' {{action composePrivateMessage}}>
      <i class='fa fa-envelope'></i> {{i18n user.private_message}}
    </button>
  {{/if}}

{{! /SP }}
