{{bread-crumbs categories=categories}}

{{navigation-bar navItems=navItems filterMode=filterMode}}

{{#if canCreateCategory}}
  {{categories-admin-dropdown}}
{{/if}}

{{#if canCreateTopic}}
  <button id="create-topic" class='btn btn-default' {{action "createTopic"}}><i class='fa fa-plus'></i>{{i18n 'topic.create'}}</button>
{{/if}}

{{! SP Add Private Message Button }}
  {{#if currentUser}}
    {{d-button id="create-private-message" class="btn-default" action="composePrivateMessage" icon="envelope" label="user.private_message"}}
  {{/if}}
{{! /SP }}
